.order-page {
  margin-top: 4rem;
}

.order-form {
  width: 75%;
  margin: 4rem auto;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 5px;
}

@media screen and (max-width: 50em) {
  .order-form {
    width: 98%;
  }
}

.form-group-wrapper {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 37.5em) {
  .form-group-wrapper {
    flex-direction: column;
    gap: 0;
  }
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem;
}

.form-group-label {
  font-weight: 600;
  text-transform: capitalize;
}

.form-group-input {
  padding: 1rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
}

.form-group-input::placeholder {
  font-weight: 400;
  font-style: italic;
}

textarea {
  padding: 1rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  resize: vertical;
}

.order-submit-btn {
  display: block;
  background-color: var(--color-primary);
  border: none;
  outline: none;
  width: 100%;
  padding: 1.5rem 2rem;
  font-weight: 600;
  color: var(--color-white);
  text-transform: capitalize;
  font-size: inherit;
  cursor: pointer;
}
