.why-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 6rem;
}

.why {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.why svg {
  --size: 8rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-primary-light);
}

.why-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 2.4rem;
}

.why-description {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.8;
}
